<h1>Sign Up</h1>
<form name="signup" id="signup" action="./" method="post">
    <fieldset>
        <div class="elem_group">
            <label for="first_name">Your name: </label><br />
            <input type="text" name="first_name" id="first_name" />
        </div>

        <div class="elem_group">
            <label for="landline">Phone number: </label><br />
            <input type="text" name="landline" id="landline" />
        </div>

        <div class="elem_group">
            <label for="email">Email: </label><br />
            <input type="text" name="email" id="email" />
        </div>

        <input type="submit" value="Submit" />
    </fieldset>
</form>
<p><a href="javascript:" id="lang">Show Language</a></p>
